*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

.flex{
  display: flex;
}
header{
  background-color: lightblue;
}
section.flex,.contenuto-rosso,.contenuto-box-primaria{
  width: 1000px;
  margin: 0 auto;   
  padding: 20px;
}
.logo-superiore,.menu,.login,.box{
    border: 2px dashed black;
}
.logo-superiore,.menu,.login{
  background-color: orange;  
  height: 40px;
}
.logo-superiore,.login{
  width: 200px;
}
.text-logo,.text-menu,.text-login{
  font-size: 20px;
}
.logo-superiore,.menu,.login,.contenuto-rosso{
  align-items: center;
}
.menu,.contenuto-rosso{
   justify-content: center;
}
.menu{
 width: calc(100% - 400px);
}
.login{
  justify-content: flex-end;
}
.text-logo{
  margin-left: 20px;
}
.text-login{
 margin-right: 20px;
}

/* /header */

/* main */ /* togliere altezze */

.sezione-blu{
  background-color: blue;
}
.box.red{
  background-color: red;
  width: 700px;
  height: 400px;
  margin: 30px;
}
.box{
  height:400px;
  margin: 40px 0px;
}
.box.lightskyblue{
  background-color: lightskyblue;
  width:100%;
}
.box.pink{
  background-color: pink;
  width:calc(100% / 2);
}




/* /main */





